<div class="row">
  <div class="col-xs-12">
    <img [src]="recipeData.imagePath" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>
      {{ recipeData.name }}
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul style="cursor: pointer" class="dropdown-menu">
        <li>
          <a (click)="addToShoppingList(recipeData.ingredients)"
            >To Shopping List</a
          >
        </li>
        <li><a [routerLink]="['/recipes', index, 'edit']">Edit Recipe</a></li>
        <li><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row" style="padding: 10px 0">
  <div class="col-xs-12">
    <p>{{ recipeData.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipeData.ingredients"
      >
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
