<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            type="email"
            id="email"
            name="email"
            ngModel
            email
            required
            #email="ngModel"
          />
          <span class="help-block" *ngIf="email.invalid && email.touched">
            Please enter valid email!
          </span>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select
            class="form-control"
            name="subscription"
            id="subscription"
            [ngModel]="'advanced'"
          >
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            name="password"
            id="password"
            type="password"
            class="form-control"
            ngModel
            required
            #password="ngModel"
          />
          <span class="help-block" *ngIf="password.invalid && password.touched">
            Please enter valid password!
          </span>
        </div>
        <button [disabled]="f.invalid" class="btn btn-success">Sign Up</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <p class="help-block" *ngIf="f.invalid && f.touched">Your form is invalid!</p>
    </div>
  </div>
</div>
